@charset "UTF-8";
/* declaration couleurs avec variables :*/
/* quelques règles mixin de stylisation répétitives :*/
/* @import "./vendors/xyzforexample"; */
/****************************************/
/* import de police googlefonts du site */
/****************************************/
/* police ENSEIGNE */
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
/* police courante paragraphes */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
/* ************************** */
/* *géneralités remarquables* */
/* ************************** */
* {
  box-sizing: border-box;
  /* on calcule maintenant toutes les dimensions à la bordure */
  margin: 0;
  /* on fixera ces dimensions au besoin */
  padding: 0;
}

body {
  max-width: 2000px;
  /* éviter l'étirement excessif sur 4k et autres */
  width: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.2px;
  /* on desserre un peu */
}
@media all and (min-width: 769px) and (max-width: 992px) {
  body {
    width: 99%;
    margin: auto;
    background-color: #c0c0c0;
  }
}
@media all and (min-width: 992px) {
  body {
    width: 80%;
    /* reserrer la vue */
    margin: auto;
    background-color: #c0c0c0;
  }
}

h1 {
  font-size: x-large;
}

header, main, footer {
  width: 100%;
  /* important pour maitriser les positions dans la page */
}

/* main{
    padding-bottom: -13vw;
} */
a {
  text-decoration: none;
  color: inherit;
}

/* **************************************** */
/* ******** animations keyframes ********** */
/* **************************************** */
/* loader animation du spinner bordure, rotation, et zoom sur deux tours*/
@-webkit-keyframes mouvim {
  0% {
    transform: rotate(-0.1turn) scale(0.1);
  }
  50% {
    transform: rotate(1turn) scale(1.1);
    border-left: 30px solid #99E2D0;
    border-right: 30px solid #fdff79;
  }
  100% {
    transform: rotate(2turn) scale(0.1);
    border-left: 10px solid #99E2D0;
    border-right: 10px solid #fdff79;
  }
}
@keyframes mouvim {
  0% {
    transform: rotate(-0.1turn) scale(0.1);
  }
  50% {
    transform: rotate(1turn) scale(1.1);
    border-left: 30px solid #99E2D0;
    border-right: 30px solid #fdff79;
  }
  100% {
    transform: rotate(2turn) scale(0.1);
    border-left: 10px solid #99E2D0;
    border-right: 10px solid #fdff79;
  }
}
/* loader apparition arrière plan et disparition */
@-webkit-keyframes colorbk {
  0% {
    width: inherit;
    opacity: 100;
    z-index: 100;
  }
  20% {
    width: inherit;
    opacity: 0.99;
    z-index: 100;
    background-color: #dc6856;
  }
  99% {
    width: inherit;
    opacity: 0.94;
    z-index: 100;
    background-color: #ffffff;
  }
  100% {
    width: inherit;
    opacity: 0%;
  }
}
@keyframes colorbk {
  0% {
    width: inherit;
    opacity: 100;
    z-index: 100;
  }
  20% {
    width: inherit;
    opacity: 0.99;
    z-index: 100;
    background-color: #dc6856;
  }
  99% {
    width: inherit;
    opacity: 0.94;
    z-index: 100;
    background-color: #ffffff;
  }
  100% {
    width: inherit;
    opacity: 0%;
  }
}
/* apparition progressive des parties de menu pour la page de chaque restaurant */
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/* ************ */
/**** loader ****/
/* ************ */
.loader {
  width: 0%;
  /* après son jeu le loader doit disparaitre */
  opacity: 0%;
  /* après son jeu le loader doit disparaitre */
  z-index: -10;
  /* après son jeu le loader doit disparaitre */
  height: 100vh;
  /* couverture de l'ecran */
  margin: 0;
  background-color: #dc6856;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  -webkit-animation-name: colorbk;
          animation-name: colorbk;
  /*animation bkground loader*/
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.loader__spinim {
  position: relative;
  margin: auto;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #fdff79;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  -webkit-animation-name: mouvim;
          animation-name: mouvim;
  /*animation spinner attention synchro avec la première anim*/
  -webkit-animation-duration: 3000ms;
          animation-duration: 3000ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.loader__spinim__im {
  position: absolute;
  /*centrage debut*/
  width: 220px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /*centrage fin*/
}

/* ******* boutons de la section information vus en page index***** */
.info__buttons .infobutton input {
  /* masquage */
  position: absolute;
  left: -9999px;
}
.info__buttons .infobutton input:checked + label {
  background-color: rgba(147, 86, 220, 0.15);
  /* petit changement au clic */
}
@media all and (min-width: 992px) {
  .info__buttons .infobutton input:hover + label {
    background-color: rgba(147, 86, 220, 0.15);
    /* petit changement au survol */
  }
}
.info__buttons .infobutton .labelinfo {
  /* la zone de l'étiquette d'info */
  display: flex;
  position: relative;
  cursor: default;
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  width: 90vw;
  margin: auto;
  height: 55px;
  justify-content: flex-start;
  align-items: center;
  border: none;
  background-color: #f2f2f2;
  padding: 0;
}
.info__buttons .infobutton .labelinfo .roundnum {
  display: flex;
  width: 24px;
  line-height: 24px;
  justify-content: center;
  align-content: center;
  background-color: #dc6856;
  border-radius: 12px;
  margin-left: -12px;
}
.info__buttons .infobutton .labelinfo .roundnum__num {
  color: #ffffff;
}
.info__buttons .infobutton .labelinfo .fas {
  width: 23%;
  text-align: center;
  font-size: 1.3rem;
  color: #686868;
  margin-right: 5%;
}
.info__buttons .infobutton .labelinfo .sph4 {
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  /* n'occupera pas toute la largeur de la ligne */
  font-weight: 500;
}

/*bouton de commande fin de page des restos*/
.buttonrnd {
  /* bouton de commande et bouton d'explo */
  display: inline-block;
  background: linear-gradient(-5deg, #dc6856 40%, #fdff79);
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  width: 100%;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 1.5em;
}
.buttonrnd:hover, .buttonrnd:active {
  background: linear-gradient(-10deg, #ac7fe4, #fd9fe3);
  box-shadow: 2px 6px 2px #c0c0c0;
  font-weight: bold;
  letter-spacing: 0.1px;
}

/*bouton de navigation explorer les restos*/
.headerbutton {
  /* bouton de commande et bouton d'explo */
  display: inline-block;
  background: linear-gradient(-5deg, #dc6856 40%, #fdff79);
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  width: 100%;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 1.5em;
}
.headerbutton:hover, .headerbutton:active {
  background: linear-gradient(-10deg, #ac7fe4, #fd9fe3);
  box-shadow: 2px 6px 2px #c0c0c0;
  font-weight: bold;
  letter-spacing: 0.1px;
}

/****cartes des restaurants du bloc d'options en page d'accueil********/
.card {
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  width: 100%;
  height: auto;
  min-height: 240px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 15px;
  position: relative;
}
.card:hover, .card:active {
  box-shadow: 2px 6px 2px #c0c0c0;
  transform: scale(1.02);
}
.card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.card__pic {
  position: relative;
  width: 100%;
  height: 195px;
  overflow: hidden;
  border-radius: 17px 17px 0 0;
}
.card__pic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.card__pic .sticker {
  margin: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 6px 12px 6px 12px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #287262;
}
.card__body {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__body .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card__body .text p, .card__body .text h3 {
  margin-top: 4px;
  margin-bottom: 4px;
}

/*carte-bouton élément de menu à choisir dans pages resto*/
.info__buttons .infobutton--menus .hidden {
  position: absolute;
  /* une façon de cacher */
  left: -9999px;
}
.info__buttons .infobutton--menus input {
  position: absolute;
  left: -9999px;
  /* mise en application des effets au clic grace au checkbox : */
}
.info__buttons .infobutton--menus input:checked + label {
  box-shadow: 2px 6px 2px #c0c0c0;
  transform: scale(1.01);
}
.info__buttons .infobutton--menus input:checked + label .card__body--menus .price-end .valid-plate {
  width: 65px;
  margin-right: 0;
}
.info__buttons .infobutton--menus input:checked + label .card__body--menus .price-end .valid-plate .rndv {
  transform: rotate(1turn);
  margin: auto;
}
@media all and (min-width: 992px) {
  .info__buttons .infobutton--menus input:hover + label {
    box-shadow: 2px 6px 2px #c0c0c0;
    transform: scale(1.01);
  }
  .info__buttons .infobutton--menus input:hover + label .card__body--menus .price-end .valid-plate {
    width: 65px;
    margin-right: 0;
  }
  .info__buttons .infobutton--menus input:hover + label .card__body--menus .price-end .valid-plate .rndv {
    transform: rotate(1turn);
  }
}
.info__buttons .infobutton--menus label {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 70px;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  overflow: hidden;
  /* a{
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 10;    
  } */
}
.info__buttons .infobutton--menus label .card__body--menus {
  z-index: 10;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 70px;
  width: 100%;
}
.info__buttons .infobutton--menus label .card__body--menus .text {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5%;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
}
.info__buttons .infobutton--menus label .card__body--menus .text .sph4 {
  position: relative;
  margin: 0;
  margin-top: 11px;
  width: 100%;
  white-space: nowrap;
  /* pas de retour ligne */
  overflow: hidden;
  text-overflow: ellipsis;
  /* coupure du texte recouvert avec ... */
  font-weight: 500;
}
.info__buttons .infobutton--menus label .card__body--menus .text .spp {
  margin: 0;
  margin-bottom: 11px;
  font-weight: 300;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.info__buttons .infobutton--menus label .card__body--menus .price-end {
  display: flex;
}
.info__buttons .infobutton--menus label .card__body--menus .price-end .price {
  display: flex;
  flex-direction: column-reverse;
  font-weight: bold;
  margin-right: 13px;
}
.info__buttons .infobutton--menus label .card__body--menus .price-end .price .spprice {
  margin-bottom: 11px;
}
.info__buttons .infobutton--menus label .card__body--menus .price-end .valid-plate {
  /* le tiroir qui apparait si le menu est validé */
  margin-right: -65px;
  /* n'apparait pas au départ */
  height: 70px;
  width: 65px;
  background-color: #99E2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 850ms ease-in-out 50ms;
}
.info__buttons .infobutton--menus label .card__body--menus .price-end .valid-plate .rndv {
  /* le cadre rond autour de l'icone */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  width: 24px;
  /* carré pour obtenir la bordure circulaire */
  height: 24px;
  border-radius: 50%;
  /* forme cercle */
  transition: transform 750ms linear 150ms;
}
.info__buttons .infobutton--menus label .card__body--menus .price-end .valid-plate .rndv .fas {
  font-size: 14px;
  color: #99E2D0;
  width: 14px;
}

.like {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 100%;
  font-size: 30px;
}
.like label {
  cursor: pointer;
}
.like input {
  width: 0;
  height: 0;
  display: none;
}
.like input:checked + label > .far {
  color: transparent;
}
.like input:checked + label > .fas {
  transform: scale(1);
}
@media all and (min-width: 992px) {
  .like input:hover + label > .far {
    color: transparent;
  }
  .like input:hover + label > .fas {
    transform: scale(1);
  }
}
.like .far {
  z-index: 20;
  position: absolute;
  transition: all 100ms linear 600ms;
}
.like .fas {
  width: auto;
  transition: all 900ms ease-in-out 0ms;
  position: relative;
  transform: scale(0.01);
  background: linear-gradient(-8deg, #dc6856 40%, #fdff79);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

/*************************************/
/************ HEADER *****************/
/*************************************/
.head {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  /*apparence*/
}
.head__logo {
  position: relative;
  width: 100%;
  padding: 1.4em 0em 0.5em 0em;
  margin-top: 0px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 3px #c0c0c0;
  z-index: 10;
}
.head__logo img {
  width: 45%;
}
.head__logo__arrow {
  position: absolute;
  /* la fleche toujours en haut à gauche */
  top: 26px;
  left: 25px;
  font-size: 150%;
}
.head input {
  position: absolute;
  /* pour le sortir du champ */
  left: -9999px;
}
.head input:checked + label {
  background-color: rgba(147, 86, 220, 0.15);
  /* petit changement au clic */
}
@media all and (min-width: 992px) {
  .head input:hover + label {
    background-color: rgba(147, 86, 220, 0.15);
    /* petit changement au survol */
  }
}
.head .head__geo {
  /*bandeau localisation et label pour clic*/
  cursor: pointer;
  /* la main */
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 0px;
  line-height: 3em;
  background-color: #e7e7e7;
}
.head .head__geo span {
  margin-left: 12px;
}
.head .title {
  width: 80%;
  text-align: center;
  align-self: center;
  margin-top: 28px;
  margin-bottom: 2px;
}
.head .parag {
  font-size: larger;
  text-align: center;
  font-weight: 300;
  margin-top: 22px;
  margin-bottom: 16px;
}
.head__nav {
  width: 58%;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 45px;
  align-self: center;
}
@media all and (min-width: 769px) and (max-width: 992px) {
  .head .head__logo img {
    width: 25%;
  }
  .head__nav {
    width: 35%;
  }
}
@media all and (min-width: 992px) {
  .head .head__logo {
    text-align: left;
  }
  .head .head__logo img {
    width: 17%;
    margin-left: 10%;
  }
  .head__nav {
    width: 25%;
  }
  .head .head__geo {
    text-align: left;
  }
  .head .head__geo i {
    margin-left: 5%;
  }
  .head .head .title {
    width: auto;
    padding: 0;
    margin-left: 5%;
    align-self: flex-start;
  }
}

/******* pas d'ombre en bannière sur les pages des restos: *********/
#hdrlogo-pages {
  box-shadow: none;
}

/*****************************/
/**********info **************/
/*****************************/
.info {
  /* le cadre */
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.info .info__buttons {
  /* le cadre des 3 panneaux d'info */
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 22px;
  margin-top: 15px;
}
@media all and (min-width: 769px) and (max-width: 992px) {
  .info {
    /* sur tablette on donne la possibilité de retour ligne aux panneaux d'info (2 en haut et 1 dessous)*/
  }
  .info .info__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: auto;
    width: auto;
    margin-top: 19px;
  }
  .info .info__buttons .infobutton {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
  }
  .info .info__buttons .infobutton .labelinfo {
    height: 57px;
    width: 100%;
    margin-bottom: 20px;
  }
}
@media all and (min-width: 992px) {
  .info {
    /* adaptatif sur grands ecrans */
  }
  .info .info__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    height: auto;
    width: 100%;
    margin-top: 22px;
  }
  .info .info__buttons .infobutton {
    margin-right: 2%;
    margin-left: 2%;
    width: 29%;
  }
  .info .info__buttons .infobutton .labelinfo {
    margin-bottom: 20px;
    height: 60px;
    width: 100%;
  }
}

/******************************************/
/******* menu d'options choix resto********/
/******************************************/
.options {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
.options > * {
  width: 90%;
  margin: auto;
}
.options__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  /* cards centrées en largeur sur mobile */
  margin: auto;
  height: auto;
  margin-top: 22px;
}
@media all and (min-width: 769px) and (max-width: 992px) {
  .options__cards {
    justify-content: space-between;
  }
  .options__cards .card {
    width: 45%;
    /* cards rangées deux par deux sur tablette */
  }
  .options__cards .card img {
    width: 110%;
  }
}
@media all and (min-width: 992px) {
  .options__cards {
    justify-content: space-between;
    /* justify-items: space-between; */
  }
  .options__cards .card {
    margin: 0;
    width: 23%;
    /* par 4 sur grands ecrans */
    height: 255px;
  }
  .options__cards .card .card__pic {
    height: 165px;
  }
  .options__cards .card img {
    width: 132%;
  }
}

/* image bannière de resto */
.page-picture {
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 100%;
  height: auto;
  max-height: 45vw;
  /* cette valeur avec le top sur le formulaire qui suit permet d'avoir un peu de vue sur les menus */
  overflow: hidden;
  /*responsive tablette*/
}
.page-picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}
@media all and (min-width: 769px) and (max-width: 992px) {
  .page-picture {
    max-height: 38vw;
  }
}
@media all and (min-width: 992px) {
  .page-picture {
    max-height: 33vw;
  }
}

/* bloc de l'ensemble des menus de chaque page resto */
.pages-options {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  top: -13vw;
  border-radius: 40px 40px 0px 0px;
  padding-top: 25px;
  margin-bottom: -13vw;
}
.pages-options > * {
  width: 90%;
  margin: auto;
  height: auto;
}
.pages-options .options__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 80px;
  font-size: 175%;
  margin: auto;
  margin-bottom: 16px;
}
.pages-options .options__header .title {
  font-size: inherit;
  font-family: "Shrikhand", sans-serif;
  font-weight: normal;
}
.pages-options #all-parts {
  /* on gère les menus en 3 parties dans une grande */
}
.pages-options #all-parts > * {
  opacity: 0;
  height: auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  -webkit-animation-name: appear;
          animation-name: appear;
  /* appel de la keyframe */
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  /* rester sur l'état final */
}
.pages-options #all-parts #first-part {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.pages-options #all-parts #second-part {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.pages-options #all-parts #third-part {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}
@media all and (min-width: 769px) and (max-width: 992px) {
  .pages-options #all-parts {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .pages-options #all-parts #first-part, .pages-options #all-parts #second-part, .pages-options #all-parts #third-part {
    width: 42%;
    height: auto;
    margin-bottom: 25px;
    margin-left: 13px;
    margin-right: 13px;
  }
}
@media all and (min-width: 992px) {
  .pages-options #all-parts {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }
  .pages-options #all-parts #first-part, .pages-options #all-parts #second-part, .pages-options #all-parts #third-part {
    width: 45%;
    height: auto;
    margin-bottom: 30px;
    margin-left: 17px;
    margin-right: 17px;
  }
}
.pages-options .options--menus__part {
  width: 2.5em;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 6px;
  font-size: medium;
  font-weight: normal;
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
}
.pages-options .info__buttons {
  width: 100%;
}
.pages-options .command {
  width: 55%;
  margin-top: 22px;
  margin-bottom: 38px;
  text-align: center;
  /*responsive tablette*/
}
@media all and (min-width: 769px) and (max-width: 992px) {
  .pages-options .command {
    max-width: 35%;
  }
}
@media all and (min-width: 992px) {
  .pages-options .command {
    max-width: 25%;
  }
}

.foot {
  padding-top: 12px;
  padding-bottom: 50px;
  background-color: #383838;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: -13vw;
}
.foot > * {
  width: 90%;
  margin: auto;
}
.foot__title {
  font-family: "Shrikhand";
  /* du texte plus léger à charger que l'icone png */
  font-size: 0.8em;
}
.foot a {
  color: #ffffff;
}
.foot ul {
  padding: 0;
  list-style: none;
  /* pas de puce ou n° */
  line-height: 1.8em;
}
.foot ul i {
  width: 15px;
  margin-right: 20px;
}

/* @import "./pages/xyzforexample"; */
/* @import "./themes/xyzforexample"; *//*# sourceMappingURL=style.css.map */
