@charset "UTF-8";
/****************************************/
/* import de police googlefonts du site */
/****************************************/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
/* ************************************************** */
/* ****************** MOBILE ************************ */
/* ************************************************** */
/* ************************** */
/* *géneralités remarquables* */
/* ************************** */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.2px;
}

h1 {
  font-size: x-large;
}

header, main, footer {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/* ****************************** */
/* ******animations************** */
/* ****************************** */
@-webkit-keyframes mouvim {
  0% {
    /* opacity:100%; */
    /* z-index: 100; */
    transform: rotate(-0.1turn) scale(0.1);
    /* -webkit-transform: rotate(-0.1turn) scale(0.1); */
  }
  50% {
    /* opacity: 7%; */
    transform: rotate(1turn) scale(1.1);
    /* -webkit-transform: rotate(1turn) scale(1.1); */
    border-left: 35px solid #99E2D0;
    border-right: 35px solid #9356dc;
  }
  100% {
    /* opacity:100%; */
    /* z-index: 100; */
    transform: rotate(2turn) scale(0.1);
    /* -webkit-transform: rotate(2turn) scale(0.1); */
    border-left: 10px solid #99E2D0;
    border-right: 10px solid #9356dc;
  }
}
@keyframes mouvim {
  0% {
    /* opacity:100%; */
    /* z-index: 100; */
    transform: rotate(-0.1turn) scale(0.1);
    /* -webkit-transform: rotate(-0.1turn) scale(0.1); */
  }
  50% {
    /* opacity: 7%; */
    transform: rotate(1turn) scale(1.1);
    /* -webkit-transform: rotate(1turn) scale(1.1); */
    border-left: 35px solid #99E2D0;
    border-right: 35px solid #9356dc;
  }
  100% {
    /* opacity:100%; */
    /* z-index: 100; */
    transform: rotate(2turn) scale(0.1);
    /* -webkit-transform: rotate(2turn) scale(0.1); */
    border-left: 10px solid #99E2D0;
    border-right: 10px solid #9356dc;
  }
}
@-webkit-keyframes colorbk {
  0% {
    width: inherit;
    opacity: 100;
    z-index: 100;
  }
  20% {
    opacity: 0.99;
    z-index: 100;
    background-color: #FF79DA;
  }
  99% {
    opacity: 0.94;
    z-index: 100;
    background-color: #ffffff;
  }
  100% {
    width: inherit;
    opacity: 0%;
  }
}
@keyframes colorbk {
  0% {
    width: inherit;
    opacity: 100;
    z-index: 100;
  }
  20% {
    opacity: 0.99;
    z-index: 100;
    background-color: #FF79DA;
  }
  99% {
    opacity: 0.94;
    z-index: 100;
    background-color: #ffffff;
  }
  100% {
    width: inherit;
    opacity: 0%;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.2;
  }
  100% {
    opacity: 1;
  }
}
/* ************ */
/**** loader ****/
/* ************ */
.loader {
  width: 0%;
  height: 100vh;
  margin: 0;
  background-color: #9356dc;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  opacity: 0%;
  -webkit-animation-name: colorbk;
          animation-name: colorbk;
  -webkit-animation-duration: 3200ms;
          animation-duration: 3200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.loader__spinim {
  position: relative;
  margin: auto;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #9356dc;
  border-radius: 50%;
  width: 350px;
  height: 350px;
  -webkit-animation-name: mouvim;
          animation-name: mouvim;
  -webkit-animation-duration: 3200ms;
          animation-duration: 3200ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
}
.loader__spinim__im {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*************************************/
/************ HEADER *****************/
/*************************************/
.head {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
.head__logo {
  position: relative;
  width: 100%;
  padding: 1.4em 0em 0.5em 0em;
  margin-top: 0px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 3px #c0c0c0;
  z-index: 10;
}
.head__logo img {
  width: 45%;
}
.head__logo__arrow {
  position: absolute;
  top: 26px;
  left: 25px;
  font-size: 150%;
}
.head .head__geo {
  width: 100%;
  text-align: center;
  margin-top: 0px;
  line-height: 3em;
  background-color: #e7e7e7;
}
.head .head__geo:hover {
  background: rgba(147, 86, 220, 0.15);
}
.head .head__geo span {
  margin-left: 12px;
}
.head .title {
  width: 80%;
  text-align: center;
  align-self: center;
  margin-top: 28px;
  margin-bottom: 2px;
}
.head .parag {
  width: auto;
  font-size: larger;
  text-align: center;
  font-weight: 300;
  margin-top: 22px;
  margin-bottom: 10px;
}
.head__nav {
  width: 58%;
  text-align: center;
  margin-top: 18px;
  margin-bottom: 45px;
  align-self: center;
}
.head__nav .headerbutton {
  display: inline-block;
  background: linear-gradient(-10deg, #9356dc, #FF79DA);
  padding: auto;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  width: 100%;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  border-radius: 1.5em;
}
.head__nav .headerbutton:hover {
  background: linear-gradient(-10deg, #ac7fe4, #fd9fe3);
  box-shadow: 2px 6px 2px #c0c0c0;
  font-weight: bold;
  letter-spacing: 0.1px;
}

/*****************************/
/**********info **************/
/*****************************/
.info {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 15px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.info .info__buttons {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 25px;
  margin-top: 15px;
}
.info .info__buttons .infobutton {
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  display: flex;
  width: 100%;
  margin: auto;
  height: 70px;
  border: none;
  align-items: center;
  background-color: #f2f2f2;
  padding: 0;
}
.info .info__buttons .infobutton:hover {
  background: rgba(147, 86, 220, 0.15);
}
.info .info__buttons .infobutton .roundnum {
  display: flex;
  width: 24px;
  line-height: 24px;
  justify-content: center;
  align-content: center;
  background-color: #9356dc;
  border-radius: 12px;
  margin-left: -12px;
}
.info .info__buttons .infobutton .roundnum__num {
  color: #ffffff;
}
.info .info__buttons .infobutton .fas {
  width: 70px;
  font-size: 1.3rem;
  color: #686868;
}

/*******************************/
/******* menu d'options ********/
/*******************************/
.options {
  padding-top: 40px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
.options > * {
  width: 90%;
  margin: auto;
}
.options__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  height: auto;
  margin-top: 22px;
}
.options .card {
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  width: 100%;
  height: auto;
  min-height: 240px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 15px;
  position: relative;
}
.options .card:hover {
  box-shadow: 2px 6px 2px #c0c0c0;
  /* -webkit-transform: scale(1.03); */
  transform: scale(1.03);
}
.options .card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.options .card__pic {
  position: relative;
  width: 100%;
  height: 195px;
  overflow: hidden;
  border-radius: 17px 17px 0 0;
}
.options .card__pic img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.options .card__pic .sticker {
  margin: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 6px 12px 6px 12px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #287262;
}
.options .card__body {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options .card__body .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.options .card__body .text p, .options .card__body .text h3 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.options .card__body .like .far {
  font-size: 1.5em;
  position: absolute;
  z-index: 10;
  transition: all 0ms linear 700ms;
}
.options .card__body .like .far:hover {
  color: transparent;
}
.options .card__body .like .far:hover + .fas {
  /* -webkit-transform: scale(1); */
  transform: scale(1);
}
.options .card__body .like .fas {
  font-size: 1.5em;
  transition: all 900ms ease-in-out 0ms;
  position: relative;
  top: 1px;
  /* -webkit-transform: scale(0.01); */
  transform: scale(0.01);
  background: linear-gradient(#9356dc, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}

.foot {
  padding-top: 12px;
  padding-bottom: 50px;
  background-color: #383838;
  color: #ffffff;
  margin-top: 0;
}
.foot > * {
  width: 90%;
  margin: auto;
}
.foot__title {
  font-family: "Shrikhand";
  font-size: 0.8em;
}
.foot a {
  color: #ffffff;
}
.foot ul {
  padding: 0;
  list-style: none;
  line-height: 1.8em;
}
.foot ul i {
  width: 15px;
  margin-right: 20px;
}

/**********************************/
/********* menus des restos *******/
/**********************************/
#hdrlogo-pages {
  box-shadow: none;
}

.page-picture {
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 100%;
  height: auto;
  max-height: 45vw;
  overflow: hidden;
}
.page-picture img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto;
}

.pages-options {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  top: -13vw;
  border-radius: 40px 40px 0px 0px;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-bottom: -13vw;
}
.pages-options > * {
  width: 90%;
  margin: auto;
}
.pages-options .options__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  height: 80px;
  font-size: 175%;
  margin: auto;
  margin-bottom: 16px;
}
.pages-options .options__header .title {
  font-size: inherit;
  font-family: "Shrikhand", sans-serif;
}
.pages-options .options__header .like .far {
  position: absolute;
  z-index: 10;
  transition: all 0ms linear 700ms;
}
.pages-options .options__header .like .far:hover {
  color: transparent;
}
.pages-options .options__header .like .far:hover + .fas {
  transform: scale(1);
}
.pages-options .options__header .like .fas {
  transition: all 900ms ease-in-out 0ms;
  position: relative;
  top: -2px;
  transform: scale(0.01);
  background: linear-gradient(#9356dc, #FF79DA);
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
}
.pages-options #all-parts > * {
  opacity: 0;
  height: auto;
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  width: 100%;
  -webkit-animation-name: appear;
          animation-name: appear;
  -webkit-animation-duration: 2500ms;
          animation-duration: 2500ms;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.pages-options #all-parts #first-part {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}
.pages-options #all-parts #second-part {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
}
.pages-options #all-parts #third-part {
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
}
.pages-options .options--menus__part {
  width: 2.5em;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 6px;
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
}
.pages-options .info__buttons {
  width: 100%;
}
.pages-options .info__buttons .infobutton--menus {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 70px;
  width: 100%;
  margin-bottom: 15px;
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  overflow: hidden;
}
.pages-options .info__buttons .infobutton--menus:hover {
  box-shadow: 2px 6px 2px #c0c0c0;
  transform: scale(1.01);
}
.pages-options .info__buttons .infobutton--menus:hover > .card__body--menus .price-end .valid-plate {
  width: 70px;
}
.pages-options .info__buttons .infobutton--menus:hover > .card__body--menus .price-end .valid-plate .fas {
  transform: rotate(1turn);
}
.pages-options .info__buttons .infobutton--menus a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  height: 70px;
  width: 100%;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5%;
  white-space: nowrap;
  overflow: hidden;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .text strong {
  position: relative;
  margin: 0;
  margin-top: 7px;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .text p {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 300;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .price-end {
  display: flex;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .price-end .price {
  display: flex;
  flex-direction: column-reverse;
  font-weight: bold;
  margin-right: 13px;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .price-end .price p {
  margin-bottom: 11px;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .price-end .valid-plate {
  height: 70px;
  width: 0px;
  background-color: #99E2D0;
  display: flex;
  justify-content: left;
  align-items: center;
  transition: width 850ms ease-in-out 50ms;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .price-end .valid-plate .fas {
  margin-left: 24px;
  font-size: large;
  color: #99E2D0;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 3px;
  transition: transform 750ms linear 150ms;
}
.pages-options .command {
  width: 55%;
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: center;
}
.pages-options .command .buttonrnd {
  display: inline-block;
  background: linear-gradient(-10deg, #9356dc, #FF79DA);
  padding: auto;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  width: 100%;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  border-radius: 1.5em;
}
.pages-options .command .buttonrnd:hover {
  background: linear-gradient(-10deg, #ac7fe4, #fd9fe3);
  box-shadow: 2px 6px 2px #c0c0c0;
  font-weight: bold;
  letter-spacing: 0.1px;
}

/*****************************************/
/******** VERSION TABLETTE****************/
/*****************************************/
@media all and (min-width: 769px) and (max-width: 992px) {
  body {
    width: 99%;
    margin: auto;
    background-color: #c0c0c0;
  }

  .head .head__logo img {
    width: 25%;
  }
  .head__nav {
    width: 35%;
  }

  .info .info__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    height: auto;
    width: auto;
  }
  .info .info__buttons .infobutton {
    height: 55px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-right: 0%;
    margin-left: 12px;
    margin-bottom: 20px;
  }
  .info .info__buttons .infobutton fas {
    width: 35px;
  }
  .info .info__buttons .infobutton strong {
    margin-right: 15px;
  }

  .options__cards {
    justify-content: space-between;
  }
  .options__cards .card {
    width: 45%;
  }
  .options__cards .card img {
    width: 110%;
  }

  .page-picture {
    max-height: 38vw;
  }

  #all-parts {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  #all-parts #first-part, #all-parts #second-part, #all-parts #third-part {
    width: 42%;
    height: auto;
    margin-bottom: 25px;
    margin-left: 13px;
    margin-right: 13px;
  }

  .command {
    max-width: 35%;
  }
}
/* ************************************************ */
/* ********     VERSION DESKTOP     *************** */
/* ************************************************ */
@media all and (min-width: 992px) {
  body {
    max-width: 2000px;
    width: 80%;
    margin: auto;
    background-color: #c0c0c0;
  }

  .head .head__logo {
    text-align: left;
  }
  .head .head__logo img {
    width: 17%;
    margin-left: 10%;
  }
  .head__nav {
    width: 25%;
  }

  .head__geo {
    text-align: left;
  }
  .head__geo i {
    margin-left: 5%;
  }

  .head .title {
    width: auto;
    padding: 0;
    margin-left: 5%;
    align-self: flex-start;
  }

  .parag {
    text-align: left;
    margin: 5%;
  }

  .info .info__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: auto;
    width: 100%;
  }
  .info .info__buttons .infobutton {
    height: 55px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-right: 0%;
    margin-left: 12px;
    margin-bottom: 20px;
  }
  .info .info__buttons .infobutton fas {
    width: 35px;
  }
  .info .info__buttons .infobutton strong {
    margin-right: 15px;
  }

  .options__cards {
    justify-content: space-between;
    justify-items: space-between;
  }
  .options__cards .card {
    margin: 0;
    width: 23%;
    height: 255px;
  }
  .options__cards .card .card__pic {
    height: 165px;
  }
  .options__cards .card img {
    width: 132%;
  }

  .page-picture {
    max-height: 33vw;
  }

  #all-parts {
    height: 100%;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
  }
  #all-parts #first-part, #all-parts #second-part, #all-parts #third-part {
    width: 45%;
    height: auto;
    margin-bottom: 30px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .command {
    max-width: 25%;
  }
}/*# sourceMappingURL=style.css.map */