@charset "UTF-8";
/****************************************/
/* import de police googlefonts du site */
/****************************************/
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap");
/* ************************************************** */
/* ****************** MOBILE ************************ */
/* ************************************************** */
/****************************/
/* géneralités remarquables */
/****************************/
body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  letter-spacing: -0.2px;
}

h1 {
  font-size: x-large;
}

body, header, main, footer {
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

/*************************************/
/************ HEADER *****************/
/*************************************/
.head {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
.head__logo {
  position: relative;
  width: 100%;
  padding: 1.4em 0em 0.5em 0em;
  margin-top: 0px;
  text-align: center;
  background-color: #ffffff;
  box-shadow: 0px 0.5px 3px #c0c0c0;
  z-index: 10;
}
.head__logo img {
  width: 50%;
}
.head__logo__arrow {
  position: absolute;
  top: 26px;
  left: 25px;
  font-size: 150%;
}
.head .head__geo {
  width: 100%;
  text-align: center;
  margin-top: 0px;
  line-height: 3em;
  background-color: #e7e7e7;
}
.head .head__geo span {
  margin-left: 12px;
}
.head .title {
  width: 100%;
  text-align: center;
  align-self: center;
  margin-top: 20px;
  margin-bottom: 2px;
}
.head .parag {
  width: auto;
  font-size: larger;
  text-align: center;
  font-weight: 300;
}
.head__nav {
  width: 55%;
  text-align: center;
  margin-top: 22px;
  margin-bottom: 70px;
  align-self: center;
}
.head__nav .headerbutton {
  display: inline-block;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  padding: auto;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  width: 100%;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  border-radius: 1.5em;
}

/**************************************/
/************ MAIN ********************/
/**************************************/
/********************************/
/************ pages picture******/
/********************************/
/*****************************/
/**********info **************/
/*****************************/
.info {
  width: 90%;
  margin: auto;
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.info .info__buttons {
  height: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 50px;
}
.info .info__buttons .infobutton {
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  display: flex;
  width: 100%;
  margin: auto;
  height: 70px;
  border: none;
  align-items: center;
  background-color: #f2f2f2;
  padding: 0;
}
.info .info__buttons .infobutton .roundnum {
  display: flex;
  width: 24px;
  line-height: 24px;
  justify-content: center;
  align-content: center;
  background-color: #9356DC;
  border-radius: 12px;
  margin-left: -12px;
}
.info .info__buttons .infobutton .roundnum__num {
  color: #ffffff;
}
.info .info__buttons .infobutton .fas {
  width: 70px;
  font-size: 1.3rem;
  color: #686868;
}

/******************************/
/******* menu d'options********/
/******************************/
.options {
  padding-top: 45px;
  padding-bottom: 45px;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
}
.options > * {
  width: 90%;
  margin: auto;
}
.options__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  height: auto;
  margin-top: 22px;
}
.options .card {
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
  width: 100%;
  height: auto;
  min-height: 240px;
  margin: auto;
  margin-top: 8px;
  margin-bottom: 15px;
  position: relative;
}
.options .card a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.options .card__pic {
  position: relative;
  width: 100%;
  height: 195px;
  overflow: hidden;
  border-radius: 17px 17px 0 0;
}
.options .card__pic img {
  width: 100%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -56%);
}
.options .card__pic .sticker {
  margin: 0;
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 6px 12px 6px 12px;
  border-radius: 3px;
  background-color: #99E2D0;
  color: #287262;
}
.options .card__body {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.options .card__body .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.options .card__body .text p, .options .card__body .text h3 {
  margin-top: 4px;
  margin-bottom: 4px;
}
.options .card__body .far {
  font-size: 1.5em;
}

.foot {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #383838;
  color: #ffffff;
  margin-top: 0;
}
.foot > * {
  width: 90%;
  margin: auto;
}
.foot__title {
  font-family: "Shrikhand";
  font-size: 0.8em;
}
.foot a {
  color: #ffffff;
}
.foot ul {
  padding: 0;
  list-style: none;
  line-height: 1.8em;
}
.foot ul i {
  width: 15px;
  margin-right: 20px;
}

/**********************************/
/********* menus des restos *******/
/**********************************/
#hdrlogo-pages {
  box-shadow: none;
}

.page-picture {
  width: 100%;
  height: 250px;
  position: relative;
}
.page-picture img {
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.pages-options {
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  position: relative;
  top: -40px;
  border-radius: 40px 40px 0px 0px;
  padding-top: 25px;
  padding-bottom: 30px;
  margin-bottom: -40px;
}
.pages-options > * {
  width: 90%;
  margin: auto;
}
.pages-options .options__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  font-size: 170%;
}
.pages-options .options__header .title {
  font-size: inherit;
  font-family: "Shrikhand", sans-serif;
  margin-bottom: 45px;
}
.pages-options #all-parts > * {
  margin-bottom: 35px;
}
.pages-options #all-parts #first-part {
  width: 100%;
}
.pages-options #all-parts #second-part {
  width: 100%;
}
.pages-options #all-parts #third-part {
  width: 100%;
}
.pages-options .options--menus__part {
  width: 2.5em;
  margin-top: 15px;
  margin-bottom: 15px;
  padding-bottom: 6px;
  text-transform: uppercase;
  border-bottom: 2px solid #99E2D0;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus {
  background-color: #ffffff;
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
  height: 70px;
  margin-bottom: 15px;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .text {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5%;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .text strong {
  margin: 0;
  margin-top: 10px;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .text p {
  margin: 0;
  margin-bottom: 10px;
  font-weight: 300;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.pages-options .info__buttons .infobutton--menus .card__body--menus .price {
  display: flex;
  flex-direction: column-reverse;
  font-weight: bold;
  margin-right: 5%;
}
.pages-options .command {
  width: 55%;
  margin-top: 22px;
  margin-bottom: 22px;
  text-align: center;
}
.pages-options .command .buttonrnd {
  display: inline-block;
  background: linear-gradient(-10deg, #9356DC, #FF79DA);
  padding: auto;
  padding-top: 0.9em;
  padding-bottom: 0.9em;
  width: 100%;
  color: #ffffff;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0.5px 2px 5px #c0c0c0;
  border-radius: 17px;
  border-radius: 1.5em;
}

/*****************************************/
/******** VERSION TABLETTE****************/
/*****************************************/
@media all and (min-width: 769px) and (max-width: 992px) {
  .head .head__logo img {
    width: 25%;
  }
  .head__nav {
    width: 35%;
  }

  .info .info__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    height: auto;
    width: auto;
  }
  .info .info__buttons .infobutton {
    height: 55px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-right: 0%;
    margin-left: 12px;
    margin-bottom: 20px;
  }
  .info .info__buttons .infobutton fas {
    width: 35px;
  }
  .info .info__buttons .infobutton strong {
    margin-right: 15px;
  }

  .options__cards {
    justify-content: space-between;
  }
  .options__cards .card {
    width: 45%;
  }
  .options__cards .card img {
    width: 110%;
  }

  .pages-options {
    top: -5px;
    margin-bottom: -5px;
  }

  #all-parts {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
  }
  #all-parts #first-part, #all-parts #second-part, #all-parts #third-part {
    max-width: 47%;
    margin: auto;
    height: auto;
    margin-bottom: 30px;
  }

  .command {
    max-width: 35%;
  }
}
/* ************************************************ */
/* ********     VERSION DESKTOP     *************** */
/* ************************************************ */
@media all and (min-width: 992px) {
  .head .head__logo {
    text-align: left;
  }
  .head .head__logo img {
    width: 17%;
    margin-left: 5%;
  }
  .head__nav {
    width: 25%;
  }

  .head__geo {
    text-align: left;
  }
  .head__geo i {
    margin-left: 5%;
  }

  .head .title {
    width: auto;
    padding: 0;
    margin-left: 5%;
    align-self: flex-start;
  }

  .parag {
    text-align: left;
    margin: 5%;
  }

  .info .info__buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
    height: auto;
    width: 100%;
  }
  .info .info__buttons .infobutton {
    height: 55px;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    margin-right: 0%;
    margin-left: 12px;
    margin-bottom: 20px;
  }
  .info .info__buttons .infobutton fas {
    width: 35px;
  }
  .info .info__buttons .infobutton strong {
    margin-right: 15px;
  }

  .options__cards {
    justify-content: space-between;
    justify-items: space-between;
  }
  .options__cards .card {
    margin: 0;
    width: 23%;
    height: 255px;
  }
  .options__cards .card .card__pic {
    height: 165px;
  }
  .options__cards .card img {
    width: 132%;
  }

  #all-parts {
    height: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
  }
  #all-parts #first-part, #all-parts #second-part, #all-parts #third-part {
    max-width: 47%;
    margin: auto;
    height: auto;
    margin-bottom: 30px;
  }

  .pages-options {
    top: 0px;
    margin-bottom: 0px;
  }

  .command {
    max-width: 25%;
  }
}/*# sourceMappingURL=style.css.map */