/****************************************/
/* import de police googlefonts du site */
/****************************************/
@import url('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');


/* ************************************************** */
/* ****************** MOBILE ************************ */
/* ************************************************** */

/* ************************** */
/* *géneralités remarquables* */
/* ************************** */
$color-bk-light0: #383838;
$color-bk-light1: #c0c0c0;
$color-bk-light2: #e7e7e7;
$color-bk-light3: #f2f2f2;
$color-bk-light4: #ffffff;
$colortext1: #000000;
$colortext2: #686868;
$colortext3: #ffffff;
$colortexttertc: #287262;
$color-prim: rgb(147, 86, 220);
$color-sec: #FF79DA;
$color-tert: #99E2D0;


@mixin default-shadnrad{
    box-shadow: 0.5px 2px 5px $color-bk-light1;
    border-radius: 17px;
    
}

@mixin most-block-display{
    display: flex;
    flex-direction: column;
    background-color: $color-bk-light3;
}

@mixin rndbutton{
    display:inline-block;
    background: linear-gradient(-10deg, $color-prim, $color-sec);
    padding: auto;
    padding-top: 0.9em;
    padding-bottom: 0.9em;
    width: 100%;
    color: #ffffff;
    font-weight: 500;
    text-decoration: none;
    box-shadow: 0.5px 2px 5px $color-bk-light1;
    border-radius: 17px;
    border-radius: 1.5em;
    &:hover{
        background: linear-gradient(-10deg, #ac7fe4, #fd9fe3);
        box-shadow: 2px 6px 2px $color-bk-light1;
        font-weight: bold;
        letter-spacing: 0.1px;
    }
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    width: 100%;
    font-family: "Roboto", sans-serif;
    letter-spacing: -0.2px;
}

h1{
    font-size: x-large;
}

header, main, footer{
    width: 100%;
}

a{
    text-decoration: none;
    color: inherit;
}

/* ****************************** */
/* ******animations************** */
/* ****************************** */
@keyframes mouvim{
    0%{
        /* opacity:100%; */
        /* z-index: 100; */
        transform: /* translate(25%,20vh) */rotate(-0.1turn) scale(0.1);
        /* -webkit-transform: rotate(-0.1turn) scale(0.1); */
    }
    50%{
        /* opacity: 7%; */
        transform: /* translate(-10%, -47vh) */rotate(1turn) scale(1.1);
        /* -webkit-transform: rotate(1turn) scale(1.1); */
        border-left: 35px solid $color-tert;
        border-right: 35px solid $color-prim;
    }
    100%{
        /* opacity:100%; */
        /* z-index: 100; */
        transform: /* translate(25%,20vh) */rotate(2turn) scale(0.1);
        /* -webkit-transform: rotate(2turn) scale(0.1); */
        border-left: 10px solid $color-tert;
        border-right: 10px solid $color-prim;
    }
}

@keyframes colorbk{
    0%{
        width: inherit;
        opacity: 100;
        z-index: 100;
    }
    20%{
        opacity: 0.99;
        z-index: 100;
        background-color: $color-sec;
    }
    99%{
        opacity: 0.94;
        z-index: 100;
        background-color: $color-bk-light4;
    }
    100%{
        width: inherit;
        opacity: 0%;

    }
}

@keyframes appear{
    0%{
        opacity: 0;
    }
    50%{
        opacity: 0.2;
    }
    100%{
        opacity: 1;
    }
    
}


/* ************ */
/**** loader ****/
/* ************ */

.loader{ 
    width: 0%;
    height: 100vh;
    margin: 0;
    background-color: $color-prim;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    opacity: 0%;  
    animation-name: colorbk;
    animation-duration: 3200ms;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    &__spinim{
        position: relative;
        margin: auto;
        border-left: 10px solid $color-tert;
        border-right: 10px solid $color-prim;
        border-radius: 50%;
        width: 350px;
        height: 350px;
        animation-name: mouvim;    
        animation-duration: 3200ms;
        animation-timing-function: linear;
        animation-delay: 0s;
        animation-iteration-count: 1;
        &__im{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }
}


/*************************************/
/************ HEADER *****************/
/*************************************/

.head{
    @include most-block-display;
    &__logo{
        position: relative;
        width: 100%;
        padding: 1.4em 0em 0.5em 0em;
        margin-top: 0px;
        text-align: center;
        background-color: $color-bk-light4;
        box-shadow: 0px 0.5px 3px $color-bk-light1;
        z-index: 10;
        img{
            width: 45%;   
        }
        &__arrow{
            position: absolute;
            top:26px;
            left: 25px;
            font-size: 150%;
        }
    }
    .head__geo{
        width: 100%;
        text-align: center;
        margin-top: 0px;
        line-height: 3em;
        background-color: $color-bk-light2;
        &:hover{
            background: rgb(147, 86, 220, 0.15);  
        } 
        span{
            margin-left: 12px;
        }
    }
    .title{
        width: 80%;
        text-align: center;
        align-self: center;
        margin-top: 28px;
        margin-bottom: 2px;    
    }
    .parag{
        width: auto;
        font-size: larger;
        text-align: center;
        font-weight: 300;
        margin-top: 22px;
        margin-bottom: 10px;
    }
    &__nav{
        width: 58%;
        text-align: center;
        margin-top: 18px;
        margin-bottom: 45px;
        align-self: center;
        .headerbutton{
            @include rndbutton;      
        }
    }
}


/*****************************/
/**********info **************/
/*****************************/

.info{
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    background-color: $color-bk-light4;
    .info__buttons{
        height: 280px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        margin-bottom: 25px;
        margin-top: 15px;
        .infobutton{
            @include default-shadnrad;
            display: flex;
            width: 100%;
            margin: auto;
            height: 70px;
            border: none;
            align-items: center;
            background-color: $color-bk-light3;
            padding: 0;
            &:hover{
                background: rgb(147, 86, 220, 0.15); 
            } 
            .roundnum{
                display: flex;            
                width: 24px;
                line-height: 24px;
                justify-content: center;
                align-content: center;
                background-color: $color-prim;
                border-radius: 12px; 
                margin-left: -12px;
                &__num{
                    color: $colortext3;
                }
            }
            .fas{
                width: 70px;
                font-size: 1.3rem;
                color: $colortext2;
            }
        }
    }    
}


/*******************************/
/******* menu d'options ********/
/*******************************/

.options{
    &>*{
        width: 90%;
        margin: auto;
    }
    padding-top: 40px;
    padding-bottom: 45px;
    @include most-block-display;
    &__cards{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 90%;
        margin: auto;
        height: auto;
        margin-top: 22px;
    }
    .card{
        @include default-shadnrad;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        background-color: $color-bk-light4;
        width: 100%;
        height: auto;
        min-height: 240px;
        margin: auto;
        margin-top: 8px;
        margin-bottom: 15px;
        position: relative;
        &:hover{
            box-shadow: 2px 6px 2px $color-bk-light1;
            /* -webkit-transform: scale(1.03); */
                    transform: scale(1.03);
        }
        a{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 10;  
        }
        &__pic{
            position: relative;
            width: 100%;
            height: 195px;
            overflow: hidden;
            border-radius: 17px 17px 0 0;
            img{
                
                width: 100%;
                object-fit: cover;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -60%);       
            }
            .sticker{
                margin: 0;
                position: absolute;
                top: 15px;
                right: 15px;
                padding: 6px 12px 6px 12px;
                border-radius: 3px;
                background-color: $color-tert;
                color: $colortexttertc;
            }
        }
        &__body{
            width: 90%;
            margin: auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .text{
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding-top: 10px;
                padding-bottom: 10px;
                & p, h3{
                    margin-top: 4px;
                    margin-bottom: 4px;
                }
            }
            .like{
                .far{
                    font-size: 1.5em;
                    position: absolute;
                    z-index: 10;
                    transition: all 0ms linear 700ms;
                    &:hover{
                        color: transparent;
                    }
                    &:hover + .fas{
                        /* -webkit-transform: scale(1); */
                                transform: scale(1);
                    }
                }
                .fas{
                    font-size: 1.5em;;
                    transition: all 900ms ease-in-out 0ms;
                    position: relative;
                    top: 1px;
                    /* -webkit-transform: scale(0.01); */
                    transform: scale(0.01);
                    background: linear-gradient($color-prim, $color-sec);
                    background-clip:text;
                    color:transparent;
                }
            }  
        }
    }
}

.foot{
    padding-top: 12px;
    padding-bottom: 50px;
    background-color: $color-bk-light0;
    color: $colortext3;
    margin-top: 0;
    &>*{
        width: 90%;
        margin: auto;
    }
       &__title{  
        font-family: "Shrikhand";
        font-size: 0.8em;
    }
    a{
        color: $colortext3;
    }
    ul{
        padding: 0;
        list-style: none;
        line-height: 1.8em;
        i{
            width: 15px;
            margin-right: 20px;
        }
    }
}


/**********************************/
/********* menus des restos *******/
/**********************************/

#hdrlogo-pages{
    box-shadow: none;
}

.page-picture{
    display: flex;
    justify-content: center;
    align-content: center;
    min-width: 100%;
    height: auto;
    max-height: 45vw;
    overflow: hidden;
    img{
        width: 100%;
        object-fit: cover;
        height: auto;              
    }
}
.pages-options{
    &>*{
        width: 90%;
        margin: auto;
    }
    @include most-block-display;
    position: relative;
    top: -13vw;
    border-radius: 40px 40px 0px 0px;
    padding-top: 25px;
    padding-bottom: 30px;
    margin-bottom: -13vw;
    .options__header{
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        height: 80px;
        font-size: 175%;
        margin: auto;
        margin-bottom: 16px;
        .title{
            font-size: inherit;
            font-family: "Shrikhand",sans-serif;   
        }
        .like{
            .far{
                position: absolute;
                z-index: 10;
                transition: all 0ms linear 700ms;
                &:hover{
                    color: transparent;
                }
                &:hover + .fas{    
                    transform: scale(1); 
                }  
            }
            .fas{
                transition: all 900ms ease-in-out 0ms;
                position: relative;
                top: -2px;
                transform: scale(0.01);
                background: linear-gradient($color-prim, $color-sec);
                background-clip:text;
                color:transparent;            
            }
        }
    }
    
    #all-parts{
        >*{
            opacity: 0;
            height: auto;
            margin-bottom: 25px;
            display: flex;
            flex-direction: column;
            width: 100%;
            animation-name: appear;    
            animation-duration: 2500ms;
            animation-timing-function: linear;
            animation-iteration-count: 1;
            animation-fill-mode: forwards; 
        }   
        #first-part{    
            animation-delay: 1000ms;
        }
        #second-part{   
            animation-delay: 2000ms;
        }
        #third-part{   
            animation-delay: 3000ms;
        }    
    }
    .options--menus__part{
        width: 2.5em;
        margin-top: 15px;
        margin-bottom: 15px;
        padding-bottom: 6px;
        text-transform: uppercase;
        border-bottom: 2px solid $color-tert;
    }
    .info__buttons{
        width: 100%;
        .infobutton--menus{
            position: relative;
            display:flex;
            flex-direction: row;
            justify-content: flex-end;
            height: 70px;
            width: 100%;
            margin-bottom: 15px;
            @include default-shadnrad;
            overflow: hidden;
            &:hover{
                box-shadow: 2px 6px 2px $color-bk-light1;
                        transform: scale(1.01);
            }
            &:hover > .card__body--menus .price-end .valid-plate{
                    width: 70px;
                    .fas{
                        transform: rotate(1turn);
                    }
            }
            a{
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                z-index: 10;    
            }
            .card__body--menus{
                background-color: $color-bk-light4;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-content: center;
                height: 70px;
                width: 100%;
                .text{                   
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    margin-left: 5%;
                    white-space: nowrap;
                    overflow: hidden;
                    strong{
                        position: relative;
                        margin: 0;
                        margin-top: 7px;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    p{
                        margin: 0;
                        margin-bottom: 8px;
                        font-weight: 300;
                        width: 100%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }  
                }
                .price-end{
                    display: flex;
                    .price{
                        display: flex;
                        flex-direction: column-reverse;
                        font-weight: bold;
                        margin-right: 13px;
                        p{
                            margin-bottom: 11px;
                        }  
                    }
                    .valid-plate{
                        height: 70px;
                        width:0px;
                        background-color: $color-tert;
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        transition: width 850ms ease-in-out 50ms;
                        .fas{
                            margin-left: 24px;
                            font-size: large;
                            color: $color-tert;
                            background-color: $color-bk-light4;
                            border-radius: 50%;
                            padding:3px;
                            transition: transform 750ms linear 150ms;
                        }
                    }
                }
            }
        }
    }
    .command{
        width: 55%;
        margin-top: 22px;
        margin-bottom: 22px;
        text-align: center;
        .buttonrnd{
            @include rndbutton;
        }
    }   
}


/*****************************************/
/******** VERSION TABLETTE****************/
/*****************************************/

@media all and (min-width: 769px) and (max-width: 992px){
    body{
        width: 99%;
        margin: auto;
        background-color: $color-bk-light1;
    }
    .head{
        .head__logo{
            img{
                width: 25%;
            }
        }
        &__nav{
            width: 35%;
        }
    }
    .info{
        & .info__buttons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            align-content: flex-start;
            height: auto;
            width: auto;
            .infobutton {
                height: 55px;
                max-width: max-content;
                margin-right: 0%;
                margin-left: 12px;
                margin-bottom: 20px;
                fas{
                    width: 35px;
                }
                strong {
                    margin-right: 15px;
                }  
            }   
        }
    }
    .options{
        &__cards{
            justify-content: space-between;
            .card{
            width: 45%;
                img{
                    width: 110%;
                }
            }
        }
    }
    .page-picture{
        max-height: 38vw;
    }
    #all-parts{
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: flex-start;
        #first-part, #second-part, #third-part{
            width: 42%; 
            height: auto;
            margin-bottom: 25px;
            margin-left: 13px;
            margin-right: 13px;
        }
    }
    .command{
        max-width: 35%;
    }
}

/* ************************************************ */
/* ********     VERSION DESKTOP     *************** */
/* ************************************************ */

@media all and (min-width: 992px){
    body{
        max-width: 2000px;
        width: 80%;
        margin: auto;
        background-color: $color-bk-light1;
    }
    .head{    
        .head__logo{
            text-align: left;
            img{
                width: 17%;
                margin-left: 10%;
            }
        }
        &__nav{
            width: 25%;
        }
    }
    .head__geo{
        text-align: left;
        i{
            margin-left: 5%;
        }
    }
    .head .title{
        width: auto;
        padding: 0;
        margin-left: 5%;
        align-self: flex-start;
    }
    .parag{
        text-align: left;
        margin: 5%;
    }
    .info{
        & .info__buttons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            align-content: flex-start;
            height: auto;
            width: 100%;
            .infobutton {
                height: 55px;
                max-width: max-content;
                margin-right: 0%;
                margin-left: 12px;
                margin-bottom: 20px;
                fas{
                    width: 35px;
                }
                strong {
                    margin-right: 15px;
                }   
            }
        } 
    }
    .options{
        &__cards{
            justify-content: space-between;
            justify-items: space-between;
            .card{
            margin: 0;
            width: 23%;
            height: 255px;
            .card__pic{
                height: 165px;
            }
                img{
                    width: 132%;
                }
            }
        }
    }
    .page-picture{
        max-height: 33vw;
    }
    #all-parts{
        height: 100%;
        width: 90%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: flex-start;
        #first-part, #second-part, #third-part{
            width: 45%;
            height: auto;
            margin-bottom: 30px;
            margin-left: 17px;
            margin-right: 17px;          
        }
    }
    .command{
        max-width: 25%;
    }
}

