/*****************************/
/**********info **************/
/*****************************/

.info{ /* le cadre */
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 18px;
    display: flex;
    flex-direction: column;
    background-color: $color-bk-light4;
    .info__buttons{ /* le cadre des 3 panneaux d'info */
        width: 100%;
        height: 250px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-content: center;
        margin-bottom: 22px;
        margin-top: 15px;
        
    }  
    @media all and (min-width: 769px) and (max-width: 992px){
        /* sur tablette on donne la possibilité de retour ligne aux panneaux d'info (2 en haut et 1 dessous)*/
        & .info__buttons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;
            height: auto;
            width: auto;
            margin-top: 19px;
            .infobutton{
                width: 40%;
                margin-left: 5%;
                margin-right: 5%;
                .labelinfo{
                    height: 57px;
                    width: 100%;
                    
                    margin-bottom: 20px;
                }
            }
               
        }
        
    }
    @media all and (min-width: 992px){
        /* adaptatif sur grands ecrans */
        & .info__buttons{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            align-content: flex-start;
            height: auto;
            width: 100%;
            margin-top: 22px;
            .infobutton{
                margin-right: 2%;
                margin-left: 2%;
                
                width: 29%;
                .labelinfo{
                    
                    margin-bottom: 20px;
                    height: 60px;
                    width: 100%;
                    
                }
            }
        }
    }
}