/* ******* boutons de la section information vus en page index***** */

.infobutton{
    @include default-shadnrad;
    display: flex;
    width: 100%;
    margin: auto;
    height: 55px;
    border: none;
    align-items: center;
    background-color: $color-bk-light3;
    padding: 0;
    &:hover, &:active{
        background: rgb(147, 86, 220, 0.15); 
    } 
    .roundnum{
        display: flex;            
        width: 24px;
        line-height: 24px;
        justify-content: center;
        align-content: center;
        background-color: $color-prim;
        border-radius: 12px; 
        margin-left: -12px;
        &__num{
            color: $colortext3;
        }
    }
    .fas{
        width: 23%;
        text-align: center;
        font-size: 1.3rem;
        color: $colortext2;
        margin-right: 5%;
    }
}

/*bouton de commande fin de page des restos*/

.buttonrnd{
    @include rndbutton;
}

/*bouton de navigation explorer les restos*/

.headerbutton{
    @include rndbutton;      
}