.like{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 100%;
    font-size: 30px;
    label{
        cursor: pointer;
    }
    input{
        width:0;
        height:0;
        display: none;
        
        &:checked + label > .far{
            color: transparent;
        }
        &:checked + label > .fas{    
            transform: scale(1); 
        }
        @media all and (min-width: 992px){
            &:hover + label > .far{
                color: transparent;
            }
            &:hover + label > .fas{    
                transform: scale(1);
            }
        }  
    }
    
    .far{
        
        z-index: 20;
        
        position: absolute;
        
        transition: all 100ms linear 600ms;
        
    }
    .fas{
        
        width: auto;
        transition: all 900ms ease-in-out 0ms;
        position: relative;
        
        transform: scale(0.01);
        background: linear-gradient(-8deg, $color-prim 40%, $color-sec);
        background-clip: text;
        color: transparent;
                
    }
}