/* declaration couleurs avec variables :*/
$color-bk-light0: #383838;
$color-bk-light1: #c0c0c0;
$color-bk-light2: #e7e7e7;
$color-bk-light3: #f2f2f2;
$color-bk-light4: #ffffff;
$colortext1: #000000;
$colortext2: #686868;
$colortext3: #ffffff;
$colortexttertc: #287262;
$color-prim: #9356dc;
$color-sec: #FF79DA;
$color-tert: #99E2D0;